.sidebarOptions{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}
.sidebarOptions :hover{
    opacity: 0.9;
    background-color: #340339;
}
.sidebarOption__icon{
    padding: 10px;
    font-size: 15px !important;
}
.sidebarOption_channel{
    padding: 10px 0;
    width: 100%;
}
.sidebarOption_hash{
    padding: 10px;
}